// FONT-FACE STUFF HERE
//-----------------------

// Roboto
//--------

// light
@font-face {
  font-family: 'Roboto';
  $path-part: 'Light';
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
  url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

// regular
@font-face {
  font-family: 'Roboto';
  $path-part: 'Medium';
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
  url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}

// bold
@font-face {
  font-family: 'Roboto';
  $path-part: 'Black';
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
  url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoBold') format('svg');
  font-weight: 900;
  font-style: normal;
}

// light italic
@font-face {
  font-family: 'Roboto';
  $path-part: 'LightItalic';
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
  url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

// regular italic
@font-face {
  font-family: 'Roboto';
  $path-part: 'MediumItalic';
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
  url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

// bold italic
@font-face {
  font-family: 'Roboto';
  $path-part: 'BlackItalic';
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
  src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
  url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoBoldItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

// Source Code Pro
//-----------------
@font-face {
  font-family: 'Source Code Pro';
  $path-part: 'regular';
  src: url('../fonts/sourcecodepro-#{$path-part}-webfont.eot');
  src: url('../fonts/sourcecodepro-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sourcecodepro-#{$path-part}-webfont.woff') format('woff'),
  url('../fonts/sourcecodepro-#{$path-part}-webfont.ttf') format('truetype'),
  url('../fonts/sourcecodepro-#{$path-part}-webfont.svg#sourcecodeproregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  $path-part: 'bold';
  src: url('../fonts/sourcecodepro-#{$path-part}-webfont.eot');
  src: url('../fonts/sourcecodepro-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sourcecodepro-#{$path-part}-webfont.woff') format('woff'),
  url('../fonts/sourcecodepro-#{$path-part}-webfont.ttf') format('truetype'),
  url('../fonts/sourcecodepro-#{$path-part}-webfont.svg#sourcecodeprobold') format('svg');
  font-weight: 700;
  font-style: normal;
}