# macOS
.DS_Store

# IntelliJ
out/
.idea/
*.iml

# Gradle
.gradle/
build/
classes/

gradle.properties
src/main/resources/colors/_@user_Material Theme - Darker.icls
src/main/resources/colors/_@user_Material Theme - Default.icls
src/main/resources/colors/_@user_Material Theme - Lighter.icls
src/main/resources/colors/_@user_Material Theme - Palenight.icls
src/test/resources/
