// social media and search icon container within main menu
.iconnav {

  // hide some of the icons once there is not enough space
  @media screen and (max-width: 368px) {
    .tumblr,
    .instagram,
    .twitter,
    .youtube {
      display: none;
    }
  }

  ul {
    list-style: none;

    li {
      list-style: none;
      display: inline-block;

      a {
        padding: 0 3px;
      }
    }
  }
}
