.sidebar-link-group {
  box-sizing: border-box;
  padding: 1.5em;

  &.active {
    .title {
      color: $accent-color;
      font-weight: normal;
    }
  }

  .title {
    @extend h5;
  }

  ul {
    padding: 0 25px;
    margin: 0;

    li {
      padding-left: 0px;
    }
  }
}
