// Logo SVG styling you most probably will replace all of the below.

.icon {
  transition: .3s all ease;
  color: $dark-primary-color;
}

.caption {
  font-size: 3em;
  font-weight: 100;
  line-height: 125%;
  color: $primary-text;
  font-family: $main-font;
  text-transform: uppercase;
  transition: .3s all ease;

  @media screen and (max-width: $from-noslogan-to-icon) {
    font-size: 2em;
  }
}

.slogan {
  font-size: 2em;
  font-weight: 300;
  line-height: 125%;
  color: $accent-color;
  font-family: $main-font;
  transition: .3s all ease;

  @media screen and (max-width: $from-noslogan-to-icon) {
    font-size: 1.5em;
  }
}

.call-to-action {
  margin: 4rem 0;
}
