body.overflow {
  overflow: hidden;
}

// search overlay style
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $so-bg;
  transition: 0.5s ease-in-out;
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  display: none;

  input[type="search"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $so-color;
    background: transparent;
    font-size: 3em;
    font-weight: $main-font-weight;
    text-align: center;
    border: 0px;
    outline: none;
  }
}

#search.open {
  transition: 0.5s ease-in-out;
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  z-index: 106;
  display: block;
}
