@import "toolbox/all";
@import "base/settings";
@import "base/typography";

.articles,
.jscroll-inner {
  width: 100%;
  max-width: 750px;
  @include center();
  article {
    position: relative;
    @include clearfix();
    img, > iframe {
      width: 100%;
    }
  }
}

#grid {
  opacity: .7;
}