@import "toolbox/all";
@import "base/settings";
@import "base/typography";
@import "assets/font-awesome";
// add your palette here
// @import "toolbox/palettes/brown";
// @import "toolbox/palettes/green";
// @import "toolbox/palettes/teal";
@import "base/reset";
@import "base/base-style";
@import "partials/general";
@import "partials/layout/header";
@import "partials/layout/index";
@import "partials/components/article";
@import "partials/components/gallery";
@import "partials/components/pagination";
@import "partials/components/authorbox";
@import "partials/layout/post";
@import "partials/layout/sidebar";
@import "partials/layout/footer";
@import "partials/components/widget";
@import "partials/components/syntax";
@import "partials/components/lightbox";
@import "temporary";
