// PROJECT FUNCTIONS
//---------------------------------------------------

// TOOLBOX FUNCTIONS
//---------------------------------------------------

// set color based on lightness of the color given.
@function black-or-white($c) {
  @if (lightness($c) > 50) {
    @return black;
  } @else {
    @return white;
  }
}
