.documentation {
  @include flexbox(column, wrap, start, flex-start);
  background: $background-color;

  .main {
    padding-top: 0;
    min-height: calc(100vh - 64px);
  }

  .docs-header {
    background: $container-background-color;
    padding: 1rem 5% 2rem;
  }

  .doc {
    margin: 1rem 0;
    width: 70%;

    .theme-img {
      transform: scale(0.9);
      width: 130%;
    }

    .promo-img {
      background: $second-accent-color;
      padding: 3rem;
      width: 50%;
    }

    h5 {
      font-weight: 400;
      line-height: 32px;
      color: $second-accent-color;
    }
  }
}
