footer {
  width: 100%;
  box-sizing: border-box;
  line-height: 54px;
  height: 54px;
  background: $dark-primary-color;
  color: $primary-text-icon-color;
  font-size: .9em;
  align-self: flex-end;
  font-weight: 400;

  a {
    color: $primary-text-icon-color;
    padding: 0 5px;
    &:hover {
      color: $primary-text-icon-color;
      background: darken($dark-primary-color, 10%);
    }
  }

  .content {
    @include flexbox(row, wrap, space-between, center);
  }

  .backtotop {
    color: $primary-text-icon-color;
    padding: 0 5px;
    &:hover {
      color: $primary-text-icon-color;
      background: darken($dark-primary-color, 10%);
      cursor: pointer;
    }
  }
}
