@import "../components/iconnav";
@import "../components/logo";
@import "../components/search";
@import "../components/menu";

.header {
  position: relative;
  top: 0px;
  left: 0px;
  background: $head-bg;
  z-index: 20;

  .row {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    transition: .3s all ease-in-out;
    padding: 100px 10px 0; // adjust to change header height
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;

    .logo {
      transition: .3s all ease-in-out;
      display: block;
    }

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      font-size: 0em;
      font-weight: bold;
      text-transform: uppercase;
      transition: .3s all ease-in-out;
    }
  }
}
