.index {

  .section {
    margin: 4em auto;
    text-align: center;

    .call-to-action {
      margin: auto;
    }
  }

  article {

    h1 {
      color: $primary-text !important;
      line-height: 48px;
      font-size: 24px;
      margin: 0;
      transition: .3s all ease;

      &:hover {
        text-decoration: underline;
      }
    }
    span {
      padding: 10px;
    }

    .actions {
      border-top: $line;
      padding: 20px;
      margin-top: 20px;

      a {
        margin-right: 20px;
        text-transform: uppercase;
      }
    }
  }
}

.theme-chooser {
  margin: 1em 0;

  .theme-chooser-title {
    text-align: center;
    font-size: 2em;
  }

  .theme-chooser-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .theme {
    width: 48px;
    height: 48px;
    display: inline-block;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 0px 11px 2px rgba(0,0,0,0.23), 0 -1px 10px 0 rgba(0,0,0,0.1);

    &.oceanic {
      background: $oceanic-bg;
    }
    &.darker {
      background: $darker-bg;
    }

    &.palenight {
      background: $palenight-bg;
    }

    &.lighter {
      background: $lighter-bg;
    }
  }
}
