.content-container {
  width: 100%;

  .post-title {
    color: $title-color;
    padding: 10px 0;
  }

  .meta {
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: $line;
    color: $secondary-text;
  }

  .featsection {
    margin: 10px 0;
  }

  .catsandtags {
    padding: 10px 0;
    line-height: 2.5;
    color: $secondary-text;

    .category,
    .tags {
      .name {
        font-weight: 500;
      }
    }
  }

  .post-nav {
    @include clearfix();
    margin: 20px 0;

    .prev {
      float: left;
    }

    .next {
      float: right;
    }

    @media screen and (max-width: 490px) {
      .long {
        display: none;
      }
    }

    @media screen and (max-width: 318px) {
      .short {
        display: none;
      }
    }
  }
}
