$themes: (
  "oceanic": (
    "bg": $oceanic-bg,
    "fg": $oceanic-fg,
    "ct": $oceanic-contrast
  ),
  "darker": (
    "bg": $darker-bg,
    "fg": $darker-fg,
    "ct": $darker-contrast
  ),
  "palenight": (
    "bg": $palenight-bg,
    "fg": $palenight-fg,
    "ct": $palenight-contrast
  ),
  "lighter": (
    "bg": $lighter-bg,
    "fg": $lighter-fg,
    "ct": $lighter-contrast
  ),
);

@each $name, $theme in $themes {
  body.#{$name} {
    .front-page {
      background-color: map-get($theme, "bg");
      color: map-get($theme, "fg");
    }

    .header,
    .footer {
      background-color: map-get($theme, "bg");
    }
    .main-menu,
    .menu,
    .footer {
      background-color: map-get($theme, "ct");
      color: map-get($theme, "fg");

      a {
        color: map-get($theme, "fg");
        &:hover {
          color: $accent-color;
        }
      }

      .navbar > li {
        &:hover {
          background: map-get($theme, "bg");
        }
      }
    }

    .muted {
      color: transparentize(map-get($theme, "fg"), $opacity);
    }

    .caption,
    .section-title,
    .post-title,
    .post-caption {
      color: map-get($theme, "fg");
      fill: map-get($theme, "fg");
    }

    article {
      background-color: map-get($theme, "bg");
      color: map-get($theme, "fg");
    }

    .theme-img {
      background-image: url(../../assets/media/compressed/#{$name}.png);
    }

    .logo-img {
      background-image: url(../../assets/media/compressed/material-#{$name}.svg);
      margin: 1em auto;

      &.-error {
        transform: rotate(25deg) translateY(-10px);
        filter: grayscale(100%);
      }
    }

    .sidebar-toggle {
      background: map-get($theme, "bg");
      &:hover {
        background: darken(map-get($theme, "bg"), 7%);
      }
      i {
        color: map-get($theme, "fg");
      }
    }

    .sidebar.material-sidebar {
      background: map-get($theme, "ct");
      color: map-get($theme, "fg");

      .sidebar-link-group.active {
        background-color: map-get($theme, "bg");
      }

      a {
        color: white;
        &:hover {
          color: $second-accent-color;
        }
      }
    }

    .docs-header {
      background: $second-accent-color;
      color: white;
    }
  }
}
