$themes: (
  "oceanic": (
    "bg": $oceanic-bg,
    "fg": $oceanic-fg,
    "ct": $oceanic-contrast
  ),
  "darker": (
    "bg": $darker-bg,
    "fg": $darker-fg,
    "ct": $darker-contrast
  ),
  "palenight": (
    "bg": $palenight-bg,
    "fg": $palenight-fg,
    "ct": $palenight-contrast
  ),
  "lighter": (
    "bg": $lighter-bg,
    "fg": $lighter-fg,
    "ct": $lighter-contrast
  ),
);

@each $name, $theme in $themes {
  body.#{$name} {
    background-color: map-get($theme, "bg");
    color: map-get($theme, "fg");

    .header,
    .footer {
      background-color: map-get($theme, "bg");

      .main-menu,
      .menu {
        background-color: map-get($theme, "ct");
        color: map-get($theme, "fg");
      }
    }

    .caption {
      color: map-get($theme, "fg");
      fill: map-get($theme, "fg");
    }

    article {
      background-color: map-get($theme, "bg");
      color: map-get($theme, "fg");
    }

    .theme-img {
      background-image: url(/docs/media/compressed/#{$name}.png);
    }
  }
}